<div class="container">
  <h2>New in Smart Phones</h2>

  <div class="more-products">
    <app-product>
      <h4 class="title">New in iPhones</h4>
      <button class="btn btn-more"> Show More in iPhones</button>
    </app-product>
    <app-product>
      <h4 class="title">New in Samsung</h4>
      <button class="btn btn-more"> Show More in Samsung</button>
    </app-product>
    <app-product>
      <h4 class="title">New in OnePlus</h4>
      <button class="btn btn-more"> Show More in OnePlus</button>
    </app-product>
    <app-product>
      <h4 class="title">New in MI</h4>
      <button class="btn btn-more"> Show More in MI</button>
    </app-product>
  </div>
</div>