AngularBasics/node_modules/
AngularComponent/node_modules/
custom-binding/node_modules/
template-reference/node_modules/
child-view/node_modules
view-encapsulation/node_modules
ng-content/node_modules
lifecycle-hook/node_modules
content-child/node_modules
custom-directives/node_modules
directive-example/node_modules
subscribe-service/node_modules
user-service/node_modules
user-detail-service/node_modules